.main {
    display: flex;
    margin: 0 25% 20% 25%;
    padding-top: 12% !important;
    height: 100% !important;
}

.Textfield {
    background-color: white;
    border-radius: 0% !important;
}

.main1 {
    background-image: url('../../assets/loginimage.png');
    height: 400px!important;
    margin-top: 0 !important;
}

.next {
    height: 22% !important;
    width: 21% !important;
    border-color: #4a4a4a;
    border: 15px;
    background-color: white;
    color: #4a4a4a;
    text-align: center;
    font-family: 'Sofia Pro', cursive;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.3px;
}